/* FONTS IMPORT */ 
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');

/*
Marvel font alternative
font-family: 'Noto Sans KR', sans-serif;
*/

/* GLOBAL */
:root {
    --white: #ffffff;
    --marvel-red:  #ed1d24;
	  --gentlered: rgb(214, 148, 148);
    --black: #000000;
	  --shield-blue: #069df9;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-size: 16px;
    padding: 0px;
    background-color: var(--black);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
	opacity: 0;
	transition: opacity 1s ease-in;
}

.content-loaded {
	opacity: 1;
}

/* NAVIGATION SECTION */
.navbar{
   background: var(--black);
   position: fixed;
   width: 100%;
   padding: 26px 0px;
   text-align: end;
}

a{
   color: var(--white);
   font-size: 15px;
   margin-right: 15px;
   text-decoration: none;
}

a:hover {
   color: var(--marvel-red);
   font-size: 16px;
   font-weight: bolder;
}

/* HOME SECTION */
.home {
    display: flex;
    /* Settings for v1 - full picture background */
    background: url("../images/background-1.jpg") no-repeat center; 
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
}

.home .max-width{
    margin: auto ;
}

h1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 100px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    /* Settings for v2 - background in letters
    background-image: url("../images/background-1.jpg") ;
    background-size:  100% 100%;
    color: transparent;
    -webkit-background-clip: text;
    */
}

.text-1 {
    font-size: 250px;
}

/* SEARCH SECTION */

h2 {
    font-size: 2.25rem;
    display: block;
    font-weight: bold;
}

form {
    display: flex;
}

input {
    padding: 0.5rem;
    background-color: var(--white);
    font-size: 1.2rem;
    border: 1px solid var(--white);
    border-radius: 0.3rem;
}

#locatorSection {
	background-color: var(--black);
	padding: 0.5rem;
	margin: 0.5rem;
	border-radius: 0.5rem;
	text-align: center;
}

#engageBtn {
	border-radius: 0.5rem;
	padding: 1rem;
	margin: 1rem;
	background-color: transparent;
	font-size: larger;
	color: var(--white);
	border: 2px solid var(--marvel-red);
	transition-duration: 0.5s;
}

#engageBtn:hover {
	background-color: var(--marvel-red);
	cursor: pointer;
}

.hide {
	display: none;
}

#heroSearchForm {
	border-radius: 0.5rem;
	padding: 1rem;
	margin: 1rem;
	background-color: var(--marvel-red);
	justify-content: center;
}

.ui-menu {
	border: var(--marvel-red) solid 2px;
	width: 300px;
}

.ui-menu-item {
	background-color: var(--white);
	color: var(--black);
}

.ui-widget.ui-widget-content {
	line-height: 1.5;
}

#error-message {
	padding: 4rem;
}

#hydra-logo {
	width: 10rem;
}

#warning-message {
	padding: 4rem;
	color: var(--marvel-red);
}

.ui-menu-item:hover {
	background-color: var(--marvel-red);
	color: var(--white);
}

.ui-widget.ui-widget-content {
	line-height: 1.5;

}

.searchBtn {
    padding: 0.7rem;
    border-radius: 0.3rem;
    color: var(--black);
    background-color: var(--white);
    border: none;
    margin-left: 4px;
}

/* RESULT CARDS SECTION */



/* Hero Section

#hero-image {
    height: 50%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
*/

/* Uncomment hide class when ready to test */
/* .hide {
	display: none;
	visibility: none;
} */

/* Hero Card */
#heroCard {
	display: flex;
	list-style-type: none;
	background-color: var(--shield-blue);
	color: var(--white);
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}


/* RESULT VIDEOS SECTION */
.video-item {
	overflow: hidden;
	border: solid var(--marvel-red);
  }
  
  .video-wrap {
	position: relative;
	padding-bottom: 56.25%;
  }
  
  .video-item iframe {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin-top: 0;
  }
  
  .video-item img {
	display: block;
	height: auto;
	max-width: 100%;
	height: 270px;
	width: 480px;
  }
  
  @supports (display: grid) {
  
	.video-grid {
	  display: grid;
	  grid-template-columns: 2fr 1fr;
	  grid-template-rows: repeat(2, 1fr);
	  margin: 0 -2em;
	}
	
	.video-item {
	  margin-top: 0;
	}
	
	.video-item iframe {
	  border: 0.125rem solid transparent;
	}
  
	.video-item:nth-child(1) {
	  grid-column: 1 / 2;
	  grid-row: 1 / 3;
	}
  
	.video-item:nth-child(2) {
	  grid-column: 2 / 3;
	  grid-row: 1 / 2;
	}
  
	.video-item:nth-child(3) {
	  grid-column: 2 / 3;
	  grid-row: 2 / 3;
	}
	
	.video-item:nth-last-child(-n+1):first-child,
	.video-item:nth-last-child(-n+1):first-child ~ .video-item {
	  grid-column: 1 / 3;
	  grid-row: 1 / 3;
	}
}

/* CARDS */

#heroCardTitle {
	/* display: inline-block; */
	margin: 0 auto;
	padding: 3px;
	border: 1px black;
	font-size: 30px;
}

/* .heroImg {
	position: relative;
} */

#heroCard a {
	text-decoration: none;
	color: var(--gentlered);
	cursor: pointer;
}

#heroCard a:hover {
	font-size: larger;
	color: var(--white);
}

.heroDetails {
	font-size: 24px;
	padding: 0.5rem;
	/* line-height: 200%; */
}

/* GALLERY SECTION */
#gallerySection {
	display: none;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
}

.accordion {
	width: 935px; /* width = ( (Number of images - 1) * 50px ) + 335px */ 
	margin: 20px auto;
	overflow: hidden;
	box-shadow: 1px 1px 4px var(--shield-blue);
	border: 7px solid var(--marvel-red);
}

.accordion figure {
    position: absolute;
	top: 0;
	left: 50px; /* width of visible piece */
	width: 335px;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.6);
    transition: all 0.3s ease-in-out;
}

.accordion > figure {
    position: relative;
	left: 0 !important;
}

.accordion img {
	display: block;
	width: 100%;
}

.accordion input {
	position: absolute;
	top: 0;
	left: 0;
	width: 50px; /* just cover visible part */
	height: 100%;
	cursor: pointer;
	border: 0;
	padding: 0;
    opacity: 0;
	z-index: 100;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.accordion input:checked{
	width: 5px;
	left: auto;
	right: 0px;
}

.accordion input:checked ~ figure {
    left: 335px;
    transition: all 0.7s ease-in-out;
}

.accordion figcaption {
	width: 100%;
	height: 100%;
	background: rgba(87, 73, 81, 0.1);
	position: absolute;
	top: 0px;
    transition: all 0.2s linear;
}

.accordion figcaption span {
	position: absolute;
	top: 40%;
	margin-top: -30px;
	right: 20px;
	left: 20px;
	overflow: hidden;
	text-align: center;
	background: rgba(87, 73, 81, 0.3);
	line-height: 20px;
	font-size: 18px;
    opacity: 0;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 700;
	padding: 20px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
} 

.accordion input:checked + figcaption,
.accordion input:checked:hover + figcaption{
	background: rgba(87, 73, 81, 0);
}

.accordion input:checked + figcaption span {
    transition: all 0.4s ease-in-out 0.5s;
	opacity: 1;
	top: 50%;
}

.accordion #ia-selector-last:checked + figcaption span {
	transition-delay: 0.3s;
}

.accordion input:hover + figcaption {
	background: rgba(87, 73, 81, 0.03);
}

.accordion input:checked ~ figure input{
    z-index: 1;
}


/* ABOUT US SECTION */
#aboutUsSection {
	display: none;
	width: 100%;
	height: 600px;
	text-align: center;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	background: url(../images/agentsOfShield.jpg) no-repeat center;
}

#agentsBehind {
	padding-bottom: 25px;
	text-shadow: 4px 4px 6px var(--shield-blue);
}

.agentName {
	font-size: 20px;
	padding-bottom: 5px;
}

.agentCard {
	float: left;
	width: 33.33%;
	background-color: transparent;
    border: 1px transparent;    /* solid #f1f1f1 */
    perspective: 1000px; /* the 3D effect */
}
 
p span {
	color: var(--marvel-red);
}

.agentInfo {
	background-color: transparent ;
	text-align: center;
	line-height: 20px;
}

.fa-github {
	color: var(--white);
	size: 3x;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
	position: relative;
    width: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
	height: 400px;
}   
	
/* Do an horizontal flip when you move the mouse over the flip box container */
.agentCard:hover .flip-card-inner {
    transform: rotateY(180deg);
}

 /* Position the front and back side */
 .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
	  height: inherit;
}

.flip-card-front div, .flip-card-back div {
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

/* Our team photos */
#agent_kate_front {
	background-image: url(../images/agents/agentKate.jpg);
}

#agent_kate_back {
	background-image: url(../images/agents/alterKate.jpg);
}

#agent_aaron_front {
	background-image: url(../images/agents/agentAaron.jpg);
}

#agent_aaron_back {
	background-image: url(../images/agents/alterAaron.jpg);
}

#agent_lara_front {
	background-image: url(../images/agents/agentLara.jpg);
}

#agent_lara_back {
	background-image: url(../images/agents/alterLara.jpg);
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

/* RESPONSIVE LAYOUT */ 
@media screen and (max-width: 720px) {
    .accordion { 
		width: 540px; 
	}
	
	.accordion figure { 
		left: 40px; 
		width: 260px; 
	}
	
	.accordion input { 
		width: 40px; 
	}
	
	.accordion input:checked ~ figure { 
		left: 260px; 
	}
	
	.accordion figcaption span { 
		font-size: 16px; 
	}
}

@media screen and (max-width: 520px) {
    .accordion { 
		width: 320px; 
	}
	
	.accordion figure { 
		left: 20px; 
		width: 180px; 
	}
	
	.accordion input { 
		width: 20px; 
	}
	
	.accordion input:checked ~ figure { 
		left: 180px; 
	}
	
	.accordion figcaption span { 
		font-size: 12px; 
		letter-spacing: 2px; 
		padding: 10px; 
		margin-top: -20px; 
	} 

}