/* FONTS IMPORT */ 
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');

/*
Marvel font alternative
font-family: 'Noto Sans KR', sans-serif;
*/
:root {
    --white: #ffffff;
    --marvel-red:  #ed1d24;
    --black: #000000;
	--shield-blue:
}

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-size: 16px;
    padding: 0px;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
	opacity: 0;
	transition: opacity 1s ease-in;
}

.content-loaded {
	opacity: 1;
}


/* NAVIGATION BAR STYLE */
.navbar{
   background: black;
   position: fixed;
   width: 100%;
   padding: 26px 0px;
   text-align: end;
}

.navbar a{
   color: var(--white);
   font-size: 15px;
   margin-right: 15px;
   text-decoration: none;
}

.navbar a:hover {
   color: var(--marvel-red);
   font-size: 16px;
   font-weight: bolder;
}

/* HOME SECTION STYLE */
.home {
    display: flex;
    /* Settings for v1 - full picture background */
    background: url("../images/background-1.jpg") no-repeat center; 
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
}

.home .max-width{
    margin: auto ;
}

h1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 100px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    /* Settings for v2 - background in letters
    background-image: url("../images/background-1.jpg") ;
    background-size:  100% 100%;
    color: transparent;
    -webkit-background-clip: text;
    */
}

.text-1 {
    font-size: 250px;
}



/* SEARCH SECTION */

h2 {
    font-size: 2.25rem;
    display: block;
    font-weight: bold;
}

form {
    display: flex;
}

input {
    padding: 0.5rem;
    background-color: var(--white);
    font-size: 1.2rem;
    border: 1px solid var(--white);
    border-radius: 0.3rem;
}

#locator {
	background-color: var(--black);
	padding: 0.5rem;
	margin: 0.5rem;
	border-radius: 0.5rem;
	text-align: center;
}

#engageBtn {
	border-radius: 0.5rem;
	padding: 1rem;
	margin: 1rem;
	background-color: transparent;
	font-size: larger;
	color: var(--white);
	border: 2px solid var(--marvel-red);
	transition-duration: 0.5s;
}

#engageBtn:hover {
	background-color: var(--marvel-red);
	cursor: pointer;
}

.hide {
	display: none;
}

#heroSearchForm {
	border-radius: 0.5rem;
	padding: 1rem;
	margin: 1rem;
	background-color: var(--marvel-red);
	justify-content: center;
}

.ui-menu {
	border: red solid 2px;
	width: 300px;
}

.ui-menu-item {
	background-color: var(--white);
	color: var(--black);
}


.ui-menu-item:hover {
	background-color: var(--marvel-red);
	color: var(--white);
}

.ui-widget.ui-widget-content {
	line-height: 1.5;
}

.searchBtn {
    padding: 0.7rem;
    border-radius: 0.3rem;
    color: var(--black);
    background-color: var(--white);
    border: none;
    margin-left: 4px;
}



/* Hero Section s

#hero-image {
    height: 50%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
*/






/* GALLERY SECTION */

.ia-container {
	width: 585px; /* width = ( (Number of images - 1) * 50px ) + 335px */ 
	margin: 20px auto;
	overflow: hidden;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.08);
	border: 7px solid rgba(255,255,255,0.6);
}

.ia-container figure {
    position: absolute;
	top: 0;
	left: 50px; /* width of visible piece */
	width: 335px;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.6);
    transition: all 0.3s ease-in-out;
}

.ia-container > figure {
    position: relative;
	left: 0 !important;
}

.ia-container img {
	display: block;
	width: 100%;
}

.ia-container input {
	position: absolute;
	top: 0;
	left: 0;
	width: 50px; /* just cover visible part */
	height: 100%;
	cursor: pointer;
	border: 0;
	padding: 0;
    opacity: 0;
	z-index: 100;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.ia-container input:checked{
	width: 5px;
	left: auto;
	right: 0px;
}

.ia-container input:checked ~ figure {
    left: 335px;
    transition: all 0.7s ease-in-out;
}

.ia-container figcaption {
	width: 100%;
	height: 100%;
	background: rgba(87, 73, 81, 0.1);
	position: absolute;
	top: 0px;
    transition: all 0.2s linear;
}

.ia-container figcaption span {
	position: absolute;
	top: 40%;
	margin-top: -30px;
	right: 20px;
	left: 20px;
	overflow: hidden;
	text-align: center;
	background: rgba(87, 73, 81, 0.3);
	line-height: 20px;
	font-size: 18px;
    opacity: 0;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 700;
	padding: 20px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
} 

.ia-container input:checked + figcaption,
.ia-container input:checked:hover + figcaption{
	background: rgba(87, 73, 81, 0);
}

.ia-container input:checked + figcaption span {
    transition: all 0.4s ease-in-out 0.5s;
	opacity: 1;
	top: 50%;
}

.ia-container #ia-selector-last:checked + figcaption span {
	transition-delay: 0.3s;
}

.ia-container input:hover + figcaption {
	background: rgba(87, 73, 81, 0.03);
}

.ia-container input:checked ~ figure input{
    z-index: 1;
}

@media screen and (max-width: 720px) {
    .ia-container { 
		width: 540px; 
	}
	
	.ia-container figure { 
		left: 40px; 
		width: 260px; 
	}
	
	.ia-container input { 
		width: 40px; 
	}
	
	.ia-container input:checked ~ figure { 
		left: 260px; 
	}
	
	.ia-container figcaption span { 
		font-size: 16px; 
	}
}

@media screen and (max-width: 520px) {
    .ia-container { 
		width: 320px; 
	}
	
	.ia-container figure { 
		left: 20px; 
		width: 180px; 
	}
	
	.ia-container input { 
		width: 20px; 
	}
	
	.ia-container input:checked ~ figure { 
		left: 180px; 
	}
	
	.ia-container figcaption span { 
		font-size: 12px; 
		letter-spacing: 2px; 
		padding: 10px; 
		margin-top: -20px; 
	} 

}





